footer{
    .rrhh{
        height: 5%;
        width: 4%;
    }
    .redes{
        height: 5%;
        width: 3%;
    }
    h2{
        color: darkred;
        font-size: 3vw;
    }
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
}