main{
    .vibrate{
        background-color: rgb(212, 68, 11);
        height: 10vh;
        width: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        font-family: monospace;
    }
    .vibrate:hover{
        animation: vibrate 0.5s infinite;
    }
    @include vibrar;
    .carousel-item{
        height: 100%;
        width: 100%;
    }
    @include whats;
    @include mobile;
    
}
