main{
    p {
        color:$variable1;
    }
    h2{
        color: darkred;
        font-size: 3vw;
    }
    h3{
        color: darkolivegreen;
        font-size: 3vw;
    }
    .mapa{
        width: 50%;
        border: 3px solid #070000;
        border-radius: 10px;
        }
    @include whats;
    @include mobile{
        .mapa{
            height: 200px;
        }
    }

}