main{
    p {
        color:$variable1;
    }
    h2{
        color: rgb(194, 17, 70);
        font-size: 3vw;
        padding: 50px;
        margin: 20%;
    }
    h3{
        color: darkolivegreen;
        font-size: 3vw;
        margin-bottom: 20px;
    }
    .mapa{
        width: 100%;
        max-width: 500px;
        height: auto;
        border: 2px solid #ccc;
        border-radius: 10px;
        margin-bottom: 20px;
        }
    @include whats;
    @include mobile{
        .mapa{
            height: 200px;
        }
    }

}