body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(229, 236, 163);
}

header .logo {
  height: 30%;
  width: 15%;
  border-radius: 100%;
}
header h1 {
  color: saddlebrown;
  text-align: center;
  font-size: 4vw;
  font-family: cursive;
}
header li {
  list-style: none;
  text-decoration: none;
  width: 100%;
}
header .flex {
  display: flex;
  flex-direction: row;
  font-size: 100%;
  justify-content: space-evenly;
  background-color: #d6be6d;
}
@media (max-width: 540px) {
  header .flex {
    flex-direction: column;
    align-items: flex-start;
  }
}

footer .rrhh {
  height: 5%;
  width: 4%;
}
footer .redes {
  height: 5%;
  width: 3%;
}
footer h2 {
  color: darkred;
  font-size: 3vw;
}
@media (max-width: 540px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}

main .vibrate {
  background-color: rgb(212, 68, 11);
  height: 10vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  font-family: monospace;
}
main .vibrate:hover {
  animation: vibrate 0.5s infinite;
}
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
main .carousel-item {
  height: 100%;
  width: 100%;
}
main .fixed {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
}
main h2 {
  color: darkred;
  font-size: 3vw;
}
main .mapa {
  width: 50%;
}
main .rrhh {
  height: 5%;
  width: 4%;
}
main .formulario {
  display: flex;
  flex-direction: column;
  width: 50%;
}
main .fixed {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
}
main .grid {
  background-color: crimson;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "top top top" "remera remera short" "buzo buzo jean";
}
main .item {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
}
main .top {
  background-color: blueviolet;
  grid-area: top;
}
main .remera {
  background-color: aquamarine;
  grid-area: remera;
}
main .short {
  background-color: azure;
  grid-area: short;
}
main .jean {
  background-color: beige;
  grid-area: jean;
}
main .buzo {
  background-color: blue;
  grid-area: buzo;
}
main .indu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
main .ropa {
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
main .fixed {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
}
@media (max-width: 540px) {
  main {
    flex-direction: column;
  }
}

main .indu {
  display: flex;
  justify-content: space-between;
}
main .ropa {
  height: 30vh;
  display: flex;
}
main .fixed {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
}
main p {
  color: black;
}
main h2 {
  color: darkred;
  font-size: 3vw;
}
main h3 {
  color: darkolivegreen;
  font-size: 3vw;
}
main .mapa {
  width: 50%;
  border: 3px solid #070000;
  border-radius: 10px;
}
main .fixed {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
}
@media (max-width: 540px) {
  main .mapa {
    height: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
